header {
  -webkit-font-smoothing:subpixel-antialiased;
  float: none !important;
  width: auto !important;
  position: relative !important;
}
section {
  padding-bottom:50px;
  float: none !important;
  width: auto !important;
}